.Footer {
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  align-self: stretch;
  background: var(--color-bg-elevated);

  @media (min-width: 1440px) {
    padding: 2.78rem 1.39rem;
    gap: 1.81rem;
  }

  &__CompanyInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 52px;
    align-self: stretch;
    flex-wrap: wrap;

    @media (min-width: 1440px) {
      gap: 3.61rem;
    }
  }

  &__Subtext {
    color: var(--color-text-secondary);
    text-align: center;
    font-family: Jura, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width: 1440px) {
      font-size: 1.25rem;
    }
  }
}