@use 'src/styles/global' as *;
.AboutSection {
  display: flex;
  padding: 100px 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  align-self: stretch;

  background: linear-gradient(179deg, #242A38 51.44%, #4E596F 133.11%);

  @media (min-width: 1440px) {
    padding: 6.94rem 3.33rem;
    gap: 5.55rem
  }


  &__H2 {
    @extend .H2;
  }

  &__Cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-self: stretch;

    height: fit-content;

    gap: 38px;

    @media (min-width: 1440px) {
      gap: 2.64rem;
    }
  }
}